<a href="https://colab.research.google.com/github/mateuszklimczyk97/data-science-bootcamp/blob/main/02_analiza_danych/01_pandas_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
pd.__version__

'1.3.5'

## Podstawowe struktury danych: pd.Series

In [ ]:
s = pd.Series(data=[3,2,9,4])
s

0    3
1    2
2    9
3    4
dtype: int64

In [ ]:
s = pd.Series(data=[3,2,9,4], index=['a','b','c','d'], name='sample')
s

a    3
b    2
c    9
d    4
Name: sample, dtype: int64

In [ ]:
s = pd.Series(data=[3.,2,9,4], index=['a','b','c','d'], name='sample')
s

a    3.0
b    2.0
c    9.0
d    4.0
Name: sample, dtype: float64

In [4]:
import numpy as np

np.nan #brak danych

nan

In [ ]:
s = pd.Series(data=[3.,np.nan,9,4], index=['a','b','c','d'], name='sample')
s

a    3.0
b    NaN
c    9.0
d    4.0
Name: sample, dtype: float64

In [ ]:
s = pd.Series(data=[True,False,False])
s

0     True
1    False
2    False
dtype: bool

In [ ]:
s = pd.Series(data=np.arange(10,20), index=pd.date_range(start='20200101',periods=10)) #wstawianie daty
s

2020-01-01    10
2020-01-02    11
2020-01-03    12
2020-01-04    13
2020-01-05    14
2020-01-06    15
2020-01-07    16
2020-01-08    17
2020-01-09    18
2020-01-10    19
Freq: D, dtype: int64

In [ ]:
list(s.index)

[Timestamp('2020-01-01 00:00:00', freq='D'),
 Timestamp('2020-01-02 00:00:00', freq='D'),
 Timestamp('2020-01-03 00:00:00', freq='D'),
 Timestamp('2020-01-04 00:00:00', freq='D'),
 Timestamp('2020-01-05 00:00:00', freq='D'),
 Timestamp('2020-01-06 00:00:00', freq='D'),
 Timestamp('2020-01-07 00:00:00', freq='D'),
 Timestamp('2020-01-08 00:00:00', freq='D'),
 Timestamp('2020-01-09 00:00:00', freq='D'),
 Timestamp('2020-01-10 00:00:00', freq='D')]

In [ ]:
s = pd.Series(data=['python','java','sql'], name = 'languages') 
s

0    python
1      java
2       sql
Name: languages, dtype: object

In [ ]:
type(s)

pandas.core.series.Series

In [ ]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [ ]:
s.values

array(['python', 'java', 'sql'], dtype=object)

In [ ]:
s.dtypes

dtype('O')

In [ ]:
s.shape

(3,)

In [5]:
price = pd.Series(data={'Apple' : 200, 'CD Projekt': 60, 'Amazon':1900}) #słownik jako data
price

Apple          200
CD Projekt      60
Amazon        1900
dtype: int64

In [ ]:
price['CD Projekt']

60

In [ ]:
price[1]

60

In [ ]:
price.count() #liczba elementów w obiekcie

3

In [ ]:
price.value_counts() #rozkład danych w obiekcie

60      1
1900    1
200     1
dtype: int64

In [ ]:
price.sum()

2160

In [ ]:
price.min()

60

In [ ]:
price.max()

1900

In [ ]:
price.std()

1024.3046421841502

In [ ]:
price.describe() #statystyczny opis obiektu

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [6]:
price = pd.Series(data={'Apple' : 200, 'CD Projekt': 60, 'Amazon':1900, 'KGHM':np.nan}) #słownik jako data
price

Apple          200.0
CD Projekt      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [ ]:
price.count()

3

In [ ]:
price.value_counts(dropna=False)

NaN       1
1900.0    1
60.0      1
200.0     1
dtype: int64

In [ ]:
price.nlargest(n=2)

Amazon    1900.0
Apple      200.0
dtype: float64

In [ ]:
price.nsmallest(n=1)

CD Projekt    60.0
dtype: float64

In [ ]:
price.rank()

Apple         2.0
CD Projekt    1.0
Amazon        3.0
KGHM          NaN
dtype: float64

In [ ]:
price.sort_values(ascending=False)

Amazon        1900.0
Apple          200.0
CD Projekt      60.0
KGHM             NaN
dtype: float64

In [7]:
price.apply(lambda x: x * 3.8) #funkcja apply

Apple          760.0
CD Projekt     228.0
Amazon        7220.0
KGHM             NaN
dtype: float64

In [8]:
price

Apple          200.0
CD Projekt      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [ ]:
price = price.apply(lambda x: x * 3.8) #przypisanie danych do tego samego obiektu

In [10]:
price_pln = price.apply(lambda x: x * 3.8)
price_pln

Apple          760.0
CD Projekt     228.0
Amazon        7220.0
KGHM             NaN
dtype: float64

## Podstawowe struktury danych: pd.DataFrame

In [12]:
df = pd.DataFrame(data=[12,12,32])
df

    0
0  12
1  12
2  32

In [13]:
df = pd.DataFrame(data=[12,12,32], index = ['first', 'second', 'third'], columns=['col_1'])
df

        col_1
first      12
second     12
third      32

In [14]:
df = pd.DataFrame(data={'WIG20':['PKN ORLEN','PKO BP'],
                        'mWIG40' : ['Amica','Playway']
                        })
df

       WIG20   mWIG40
0  PKN ORLEN    Amica
1     PKO BP  Playway

In [15]:
df = pd.DataFrame(data=[[10,12,13],[23,12,10]], index = ['first','second'], columns = ['col_1','col_2','col_3'])
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [17]:
df.columns

Index(['col_1', 'col_2', 'col_3'], dtype='object')

In [18]:
df.index

Index(['first', 'second'], dtype='object')

In [19]:
df.values

array([[10, 12, 13],
       [23, 12, 10]])

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, first to second
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col_1   2 non-null      int64
 1   col_2   2 non-null      int64
 2   col_3   2 non-null      int64
dtypes: int64(3)
memory usage: 172.0+ bytes

In [22]:
df.describe() #statystki dataframe

           col_1  col_2     col_3
count   2.000000    2.0   2.00000
mean   16.500000   12.0  11.50000
std     9.192388    0.0   2.12132
min    10.000000   12.0  10.00000
25%    13.250000   12.0  10.75000
50%    16.500000   12.0  11.50000
75%    19.750000   12.0  12.25000
max    23.000000   12.0  13.00000

In [23]:
df.describe().T #transponowanie statystyk (PRZYDATNE)

       count  mean       std   min    25%   50%    75%   max
col_1    2.0  16.5  9.192388  10.0  13.25  16.5  19.75  23.0
col_2    2.0  12.0  0.000000  12.0  12.00  12.0  12.00  12.0
col_3    2.0  11.5  2.121320  10.0  10.75  11.5  12.25  13.0

## Selekcja kolumn

In [24]:
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [26]:
df['col_1']

first     10
second    23
Name: col_1, dtype: int64

In [27]:
df[['col_1']] #wyciecie kolumny jako DATAFRAME

        col_1
first      10
second     23

In [28]:
type(df[['col_1']])

pandas.core.frame.DataFrame

In [33]:
df.columns = ['a','b ','c'] #zmiany nazwy kolumn
df

         a  b    c
first   10  12  13
second  23  12  10

In [32]:
df.a

first     10
second    23
Name: a, dtype: int64

In [34]:
df.b #nie da sie wyswietlic poniewaz nazwa kolumny ma spacje

AttributeError: ignored

In [37]:
df['d'] = df.a + df.c #operacje na kolumnach 
df

         a  b    c   d
first   10  12  13  23
second  23  12  10  33

In [38]:
df = pd.DataFrame(data=[[10,12,13],[23,12,10]], index = ['first','second'], columns = ['col_1','col_2','col_3'])
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [39]:
df.loc['first'] #wycinanie danych po nazwach

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

In [41]:
df.loc['first','col_2']

12

In [40]:
df.iloc[0] #wycinanie danych po numerach inedxow

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

In [45]:
df.iloc[0,1]

12

In [49]:
df.iloc[:,2] #wyświetlanie col_2

first     13
second    10
Name: col_3, dtype: int64